HEDLES_API_URL=https://api-dev.hedles.io

TURNKEY_API_PUBLIC_KEY=
TURNKEY_API_PRIVATE_KEY=
TURNKEY_ORGANIZATION_ID=
HEDLES_SESSION_TOKEN=

HEDLES_TENANT_ID=
HEDLES_CLAIM_CODE=
HEDLES_USER_NAME=
HEDLES_CUSTODY_MODE=cosigned

HEDLES_CHAIN_TYPE=
HEDLES_CHAIN_KEY=
HEDLES_ASSET_KEY=
HEDLES_AMOUNT=

HEDLES_PAYIN_REFERENCE=
HEDLES_PAYIN_EXPIRES_IN=3600

HEDLES_FROM_ADDRESS=
HEDLES_TO_ADDRESS=
HEDLES_PAYOUT_NOTE=
HEDLES_PAYOUT_DESTINATION_TAG=
